.conteiner {
  margin: 48px auto 0;
  max-width: 986px;
  gap: 22px 19px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 316px;
  height: 186px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  text-align: center;
  padding: 24px;
}
.card_symbol {
  font-size: 48px;
  line-height: 48px;
  height: 48px;
}
.card_title {
  font-size: 17px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 18px;
}
.card_keywords {
  color: #3f444a;
  font-size: 12px;
  margin-top: 12px;
}
